<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wallet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FF7D75F280DC3F1005AEA90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF7D76F280DC3F3005AEA90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF7D779280DC3F3005AEA90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
